/* html{
    position: relative;

}
 
body {
    margin-bottom: 120px;
    margin-top: 20px;
} */

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.6);
}